body {
    font-family: 'Courier New', monospace;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: larger;
}

th {
    background-color: darkred;
    color: #e0e0e0;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin: 15px auto 40px;
    font-family: sans-serif;
}

.pagination button {
    background: none;
    border: none;
    padding: 6px 10px;
    font-size: 14px;
    cursor: pointer;
    color: #333;
    border-bottom: 2px solid transparent;
    transition: border-color 0.2s ease;
}

.pagination button.hover {
   border-color: #999;
}

.pagination button.active {
    border-color: red;
    font-weight: bold;
    color: red;
}

a, a:visited {
    color: red;
    text-decoration: none;
}

.pagination button.disabled {
    color: #ccc;
    cursor: default;
}

.pagination .ellipsis {
    padding: 6px 8px;
    color: #aaa;
}